<!DOCTYPE html>
<form action="/enrollments" method="POST">
    <fieldset>
        <legend>Enrollment Form</legend>

        <label>Student ID:</label>
        <input type="number" name="student_id" required />

        <label>Class ID:</label>
        <input type="number" name="class_id" required />

        <label>Enrollment Date:</label>
        <input type="date" name="enrollment_date" required />

        <button type="submit">Enroll Student</button>
    </fieldset>
</form>
  