<section id="Slider"></section>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Web Project</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
  <link rel="stylesheet"
    href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">
</head>

<body>
  <header>
    <div class="logo">
      <img src="images/z6459306582259_85ca173d9f6beddf7ed7cd6dbfcaf7b1-removebg-preview.png" alt="Logo">
    </div>
    <div class="menu">
      <li><a href="">Trang Chủ</a></li>

      <li><a href=""></a>Nhà Trường ...</a>
        <ul class="sub-menu">
          <li><a href="">Giới thiệu</a></li>
          <li><a href="">Đội ngũ giáo viên</a></li>
          <li><a href="">Cơ sở vật chất</a></li>
          <li><a href="">Học phí</a></li>
        </ul>
      </li>



      <li><a href=""></a>Thư Viện</a>
        <ul class="sub-menu">
          <li><a href="">Tài Liệu</a></li>
          <li><a href="">Đề Thi</a></li>
        </ul>
      </li>

      <li><a href=""></a>Tin Tức - Sự Kiện</a>
        <ul class="sub-menu">
          <li><a href="">Tin Tức</a></li>
          <li><a href="">Sự Kiện</a></li>
        </ul>
      </li>

      <li><a href=""></a>Liên Hệ</a></li>
    </div>
    <div class="other"></div>


    <% if (user) { %>


      <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <% if ( user.role==="student" ) { %>
          <a href="">Tuyển Sinh</a>
          <a href="">Thời Khoá Biểu</a>
          <a href="">Góp Ý</a>
          <a href="">Thông Tin Cá Nhân</a>
          <% } %>
            <% if (user.role==="teacher" ) { %>
               <a href="">Thông Tin Lớp Học</a> 
               <a href="">Lịch Dạy</a> 
               <a href="">Góp Ý</a> 
               <a href="">Thông Tin Cá Nhân</a> 
              <% } %>
                <form action="/logout?_method=DELETE" method="post">
                  <button type="submit" class="btn btn-danger"><a>logout<a /></a></button>
                </form>
      </div>

      <div id="main">
        <button class="openbtn" onclick="openNav()">&#9776; Open Sidebar</button>

      </div>
      <% } %>
        <% if (!user) { %>
          <a href="/login"><i class="fas fa-user"></i></a>
          <% } %>

            <!--<li><a href=""></a>Học Sinh</a>
        <ul class="sub-menu">
          <li><a href="">Tuyển Sinh</a></li>
          <li><a href="">Thời Khoá Biểu</a></li>
          <li><a href="">Góp Ý</a></li>
          <li><a href="">Thông Tin Cá Nhân</a></li>
        </ul>
      </li>-->




            <!-- <li><a href=""></a>Giáo Viên</a>
        <ul class="sub-menu">
          <li><a href="">Thông Tin Lớp Học</a></li>
          <li><a href="">Lịch Dạy</a></li>
          <li><a href="">Góp Ý</a></li>
          <li><a href="">Thông Tin Cá Nhân</a></li>
        </ul>
      </li>-->

            </div>
  </header>


  <section id="Slider">
    <div class="aspect-ratio-169">
      <img src="images/1.jpg">
      <img src="images/2.jpg">
      <img src="images/3.jpg">
      <img src="images/4.jpg">
      <img src="images/5.jpg">
    </div>
    <div class="dot-container">
      <div class="dot active"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </section>
  <section class="dot-container">
    <div class="dot active"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </section>

  <section class="app-container">
    <p>Tải ứng dụng </p>
    <div class="app-google">
      <img src="images/appstore.png">
      <img src="images/googleplay.png">
    </div>
    <p>Nhận bản tin IVY moda</p>
    <input type="email" placeholder="Nhập email của bạn...">
  </section>

  <footer class="relative bg-blueGray-200 pt-8 pb-6">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap text-left lg:text-left">
        <div class="w-full lg:w-6/12 px-4">
          <h4 class="text-3xl fonat-semibold text-blueGray-700">Liên hệ với chúng tôi!</h4>
          <h5 class="text-lg mt-0 mb-2 text-blueGray-600">
            Tìm kiếm chúng tôi trên bất kỳ mạng xã hội nào và gửi cho chúng tôi một tin nhắn! Chúng tôi sẽ trả lời bạn
            ngay khi có thể.
          </h5>
          <div class="mt-6 lg:mb-0 mb-6">
            <button
              class="bg-white text-lightBlue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
              type="button">
              <i class="fab fa-twitter"></i></button><button
              class="bg-white text-lightBlue-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
              type="button">
              <i class="fab fa-facebook-square"></i></button><button
              class="bg-white text-pink-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
              type="button">
              <i class="fab fa-dribbble"></i></button><button
              class="bg-white text-blueGray-800 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
              type="button">
              <i class="fab fa-github"></i>
            </button>
          </div>
        </div>
        <div class="w-full lg:w-6/12 px-4">
          <div class="flex flex-wrap items-top mb-6">
            <div class="w-full lg:w-4/12 px-4 ml-auto">
              <span class="block uppercase text-blueGray-500 text-sm font-semibold mb-2">Bạn Đang Tìm Kiếm</span>
              <ul class="list-unstyled">
                <li>
                  <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="">Liên
                    Hệ</a>
                </li>
                <li>
                  <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="">Thông
                    Tin Mới</a>
                </li>
                <li>
                  <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="">Tuyển
                    Dụng</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <hr class="my-6 border-blueGray-300">
      <div class="flex flex-wrap items-center md:justify-between justify-center">
        <div class="w-full md:w-4/12 px-4 mx-auto text-center">
          <div class="text-sm text-blueGray-500 font-semibold py-1">
            Copyright © <span id="get-current-year">2025</span><a href="https://www.facebook.com/ttgdvpttnht"
              class="text-blueGray-500 hover:text-gray-800" target="_blank"> Talent Education</a>. Made by
            <a href="https://github.com/Rin-0808" class="text-blueGray-500 hover:text-blueGray-800">Rin</a>.
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script>
    const imgPosition = document.querySelectorAll(".aspect-ratio-169 img")
    const imgContainer = document.querySelector('.aspect-ratio-169')
    const dotItem = document.querySelectorAll(".dot")
    let imgNuber = imgPosition.length
    let index = 0
    console.log(imgPosition);
    imgPosition.forEach(function (image, index) {
      image.style.left = index * 100 + "%"
      dotItem[index].addEventListener("click", function () {
        slider(index)
      })
    })
    function imgSlide() {
      index++;
      console.log(index)
      if (index >= imgNuber) { index = 0 }
      slider(index)
    }
    function slider(index) {
      imgContainer.style.left = "-" + index * 100 + "%"
      const dotActive = document.querySelector(".active")
      dotActive.classList.remove("active")
      dotItem[index].classList.add("active")
    }
    setInterval(imgSlider, 5000)
  </script>

  <script>
    function openNav() {
      document.getElementById("mySidebar").style.width = "250px";
      document.getElementById("main").style.marginRight = "250px";
    }

    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
      document.getElementById("main").style.marginRight = "0";
    }
  </script>
</body>

</html>