body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family:  Helvetica, Arial, sans-serif;
    background-color: #f5f5f5;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000
}
header{
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 80px;
    align-items: center;
}
.logo img{
    width: 150px;
  height: auto; 
    flex: 2;
}
.menu {
    flex: 7;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}
.menu > li { 
    white-space: nowrap;
    font-size: 20px;
    padding: 0 12px;
    display: flex;
    max-width: 60px;
  text-align: left;
  position: relative;
}
.menu > li:hover .sub-menu{
    
    visibility: visible;
    top: 30px;
}
.menu > li a{
    font-size: 20px;
    font-weight: 500;
    display: block ;
}
.sub-menu{
    position: absolute;
    width: 150px;
    border: 1px solid #ccc;
    padding: 10px 35px 10px 20px;
    visibility: hidden;
    top: 50px;
    transition: 0.3s;
    z-index: 1000; 
    background-color: #fff;
}

.other {
    flex: 1;
}
.other > li {
    padding: 0 15px;
    display: flex;
}
#Slider{
    padding-bottom: 50px;
    border-bottom: 2px solid #000;
    overflow: hidden;
}
.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.3s;
    
  }
  
  .aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .dot-container{
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .dot{
    height: 18px;
    width: 18px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
  }
  .dot.active{
    background-color: #333;
  }
  
  .app-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 50px;
}

.app-google {
    margin: 50px;
}

.app-google img {
    height: 100px;
}

.app-container p {
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 17px;
    color: #000;
    font-weight: bold;
}

.app-container input {
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    width: 400px;
    text-align: center;
    outline: none;
}

  footer {
    text-align: center;
}

.footer-top {
    white-space: nowrap;
    display: flex;
    text-align: center  ;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;
}

.footer-top img {
    height: 50px;
}

.footer-top li {
    padding: 0 12px;
    position: relative;
    white-space: nowrap;
}

.footer-top li::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 80%;
    background: #cccccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

footer-top li:last-child::after {
    display: none;
}

.footer-top li:last-child a {
    margin-right: 12px;
    color: #333; 
}


.footer {
    position: relative;
    background-color: #e2e8f0; 
    padding-top: 2rem; 
    padding-bottom: 1.5rem;
  }
  
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem; 
    padding-right: 1rem; 
    max-width: 1200px; 
  }
  
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
  }
  
  .footer-left {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1.5rem;
  }
  
  @media (min-width: 1024px) {
    .footer-left {
      width: 50%;
    }
  }
  
  .footer-title {
    font-size: 1.875rem; /* text-3xl */
    font-weight: 600; /* font-semibold */
    color: #374151; /* text-blueGray-700 */
    margin-bottom: 0.5rem;
  }
  
  .footer-subtitle {
    font-size: 1.125rem; /* text-lg */
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: #4b5563; /* text-blueGray-600 */
  }
  
  /* Social Icons */
  .social-icons {
    margin-top: 1.5rem; /* mt-6 */
  }
  
  .social-btn {
    background-color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    font-weight: normal;
    height: 2.5rem;
    width: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    outline: none;
    margin-right: 0.5rem;
    border: none;
    cursor: pointer;
  }
  
  .twitter {
    color: #60a5fa; /* text-lightBlue-400 */
  }
  
  .facebook {
    color: #3b82f6; /* text-lightBlue-600 */
  }
  
  .dribbble {
    color: #ec4899; /* text-pink-400 */
  }
  
  .github {
    color: #1e293b; /* text-blueGray-800 */
  }
  
  /* Footer Right */
  .footer-right {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  @media (min-width: 1024px) {
    .footer-right {
      width: 50%;
    }
  }
  
  .footer-links {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
  }
  
  .links-column {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
  }
  
  @media (min-width: 1024px) {
    .links-column {
      width: 33.333333%;
    }
  }
  
  .links-title {
    display: block;
    text-transform: uppercase;
    color: #64748b; /* text-blueGray-500 */
    font-size: 0.875rem; /* text-sm */
    font-weight: 600; /* font-semibold */
    margin-bottom: 0.5rem; /* mb-2 */
  }
  
  .links-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .link-item {
    color: #4b5563; /* text-blueGray-600 */
    font-weight: 600;
    display: block;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    text-decoration: none;
  }
  
  .link-item:hover {
    color: #1e293b; /* text-blueGray-800 */
  }
  
  /* Footer Bottom */
  .footer-divider {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-color: #cbd5e1; /* border-blueGray-300 */
    border-width: 1px;
  }
  
  .footer-bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  @media (min-width: 768px) {
    .footer-bottom {
      justify-content: space-between;
    }
  }
  
  .copyright {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
    text-align: center;
  }
  
  .copyright-text {
    font-size: 0.875rem;
    color: #64748b;
    font-weight: 600;
  }
  
  .copyright-link {
    color: #64748b;
    text-decoration: none;
  }
  
  .copyright-link:hover {
    color: #1e293b;
  }
  
 /* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('https://images.pexels.com/photos/618833/pexels-photo-618833.jpeg?cs=srgb&dl=pexels-sagui-andrea-200115-618833.jpg&fm=jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

